body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	background-color: rgb(244, 244, 244);
}


.infoblock-container{
	display: flex;
	flex-direction: column;
}

.infoblock-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.infoblock-item{
	width: 25%;
	min-width: 300px;
	min-height: 300px;
	margin: 0;
	padding: 20px 45px;
	line-height: 1.5em;
	align-items: stretch;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: rgb(102, 102, 102);
	background-color: white;	
}

.infoblock-item:hover{
	color: #76cdd8;
}

.btn:hover{
	background-color: rgb(118, 205, 216);
	transition: 0.3s;
}

.marg-bot:hover{
	border: 1px solid rgb(1, 153, 153);
}

.infoblock-items:hover .text-right{
	background: linear-gradient(to top right,transparent 50%,rgb(118, 205, 216) 0)
	top right/50px 50px no-repeat,white;
	color: rgb(118, 205, 216);
}

.infoblock-items:hover .text-left{
	background: linear-gradient(to top left,transparent 50%,rgb(118, 205, 216) 0)
	top left/50px 50px no-repeat,	white;
	color: rgb(118, 205, 216);
}

.blue{
	align-items: center;
	background-color: rgb(118, 205, 216);
	color: white !important;	
	justify-content: center;
}

.big-text{
	font-size: 50px;
}
.small-text{
	font-size: 15px;
}
.medium-text{
	font-size: 25px;
	margin: 0;
}
.blue-text{
	color: rgb(118, 205, 216) ;
}
.photo-3{
	background-image: url(/img/image-01.jpg);
	background-size: cover;
}

.photo-3:hover{
	transform: scale(1.1);
	transition: 1s;
}

.photo-3:not(:hover){
	transition: 1s;
}

.blue>p{
	background-image: url(/img/image-04.jpg);
	background-position: center bottom;
	background-size: cover;
	border-radius: 100%;
	width:10rem;
	height: 10rem;
}

button{
	border:none;
	border-radius: 0;
	width: 150px;
	background-color: rgb(1, 153, 153);
	color:white;
	padding: 15px 30px;
}
.flex-end{
	align-self: end;
}
.flex-center{
	align-self: center;
}

.section2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 850px;
}

.section2-container{
	width: 62%;
	margin: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 850px;
	background-color: white;
}
.section2-infoblock{
	display: flex;
	flex-direction: column;

	padding: 20px 45px;
	width: 53%;
	font-size: 15px;
}
.infoblock-photo{
	width: 35%;
	min-width: 200px;
	background-image: url(/img/image-02.jpg);
	background-size: cover;
}
.section3-container{
	display: flex;
	justify-content: center;
	min-height: 500px;
	min-width: 850px;
	width: 62%;
	margin: 0 auto;
	background-color: white;
}
.section3-photo{
	width: 30%;
	min-height: 300px;
	min-width: 250px;
	background-image: url(/img/image-03.jpg);
	background-size: cover;
}
.card{
	width: 31.2%;
	min-width: 250px;
	margin: 40px 15px 40px 20px;
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(1, 153, 153);
	background-color: white;
	transition: 0.5s;
}
.card:hover{
	border: 2px solid rgb(118, 205, 216) ;
	transform: scale(1.1);
	transition: 0.5s;
}
.card:hover:after{
	content: 'Special discount';
	position: relative;
	font-size: 15px;
	bottom: 3.5%;
	left:32%;
	width: 200px;
	height: 0;
}
.card>p{
	padding-left: 10%;
	margin: 10px 0;
	color: rgb(102, 102, 102);
}
.title-card{
	background-color: rgb(1, 153, 153);
	color:white;
	padding: 15px 30px;
	text-align: center;
}
.marg-bot{
	margin-top: 10px;
	margin-bottom: 20px;
}
.inputs{
	display: flex;
	flex-direction: column;
}
.inputs>input{
	width: 100%;
	height: 100%;
	padding: 10px 10px;
	font-size: 15px;
	margin: 0 0 5px 0;
	outline: none;
}
textarea{
	min-width: 100px;
	width:100%;
	outline: none;
}
input:focus,select:focus,textarea:focus{
	border-color: #24d4d4; 
	box-shadow: 0 0 0 0.2rem #24d4d4; 
}

.application-form{
	margin: 0 auto;
	width:100%;

}
.inputs>select{
	width: 112%;
	height: 30%;
	margin: 5px 0;
	padding: 10px;
	font-size: 15px;
	color: gray;
	
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 30px;
	max-height: 300px;
	background-color: white;
}
.textarea,.inputs{
	margin: 20px 20px;
}
.textarea{
	width: 30%;
}
.title{
	display: flex;
	justify-content: start;
	padding: 20px 0 ;
	color: white;
	font-size: 25px;	
}
.back-section4{
	width: 60%;
	min-width: 850px;
	margin: 30px auto;
	margin-bottom: 10px;
}
.section4{
	display: flex;
	justify-content: center;
}
.blue-line{
	height: 100px;
	background-color: rgb(35, 212, 212);
}
.white-line{
	height: 200px;
	background-color: rgb(244, 244, 244);
}
.darkblue-line{
	min-height: 200px;
	padding: 10px 40px;
	display: flex;
	justify-content: space-around;
	color: white;
	background-color:  rgb(1, 153, 153);
}
.front-section4{
	position: absolute;
	display: flex;
   justify-content: center;
	padding-top: 30px;
   width:49%;
}
.footer-text{
	margin-top:130px;
	padding: 20px 40px;
}
.footer-text>p{
	margin: 0;
	font-size: 15px;
}
.footer-text>p>b{
	font-size: 18px;
}
.flex-row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.f{
	justify-content: center;
	color: gray;
	font-size: 15px;
}
@media (max-width: 850px) { 
	.inputs{
		width: 100px;
	}
	.flex-row{
		
		flex-wrap: nowrap;
	}
	.front-section4{
		width: 400px;
	}
	.card {
		margin: 10px 20px;
	}
	.card:hover::after{
		bottom: 3.5%;
		left:32%;
		font-size: 10px;
		width: 200px;
		height: 0;
	}
	.back-section4{
		width: 100%;
		min-width: 0px;
	}
	.footer-text>p{
		font-size: 15px;
	}
	.section2{
		min-width: 0px;
	}
	.section3-container{
		width: 100%;
		flex-wrap: wrap;
		min-width: 0px;
	}
	.section2-container{
		width: 100%;
		flex-wrap: wrap;
		min-width: 0px;
	}
	.section2-container{
		justify-content: center;
	}
	.infoblock-photo{
		width: 100%;
		height: 400px;
	}
}